/7-ejb/mavenproject1/target/
/8-java-redes/java-sockets/target/
/8-java-redes/javaserverclient/target/
/8-java-redes/javasocketthreads/sockethreads/target/
/8-java-redes/server-client-objects/target/
/8-java-redes/atividade01/validar-cpf/target/
/8-java-redes/atividade01/servidor-cliente-cpf/target/
/8-java-redes/atividade03/servidorclientegui/target/
