/7-ejb/mavenproject1/target/
/8-java-redes/java-sockets/target/
/8-java-redes/javaserverclient/target/
/8-java-redes/javasocketthreads/sockethreads/target/
/8-java-redes/server-client-objects/target/
/8-java-redes/atividade01/validar-cpf/target/
/8-java-redes/atividade01/servidor-cliente-cpf/target/
/8-java-redes/atividade03/servidorclientegui/target/
/7-ejb/mavenproject2/target/
/7-ejb/mavenproject3/target/
/7-ejb/mavenproject4/target/
/8-java-redes/servidorthreadsudp/target/
/7-ejb/aula4p2servidorlocal/target/
/8-java-redes/atividade04/servidorclienteudp/target/
/8-java-redes/atividade04/servidorclientethread/target/
/7-ejb/Aula4p3AcessoRemotoLib/Aula4p3AcessoRemotoLib/target/
/7-ejb/Aula4p3AcessoRemotoLib/Aula4p3Web/target/
/7-ejb/Aula4p3AcessoRemotoLib/Aula4p3gui/target/
/7-ejb/Aula4p3AcessoRemotoLib/Aula4Pratica3/Aula4Pratica3/Aula4Pratica3gui/target/
/7-ejb/Aula4p3AcessoRemotoLib/Aula4Pratica3/Aula4Pratica3/Aula4Pratica3lib/target/
